
.scontainer {
	top: 10%;
	left: 40%;
	position: fixed;
	transform: translate(-50%, -50%);
}

.formSearch {
	width: 400px;
}

.formSearch .field {
	position: relative;
}

.formSearch label {
	background:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAxElEQVR4AXXPIUuDcRDA4Zv4AUSwTLEKVoNlySyCYLO98CCsahGrX0AW/QhmBRHEJghLS4JFBBXDgrJi2In78w8v4v3S8XDh4nd0DTxLEzd2RC2EnrH07trQVDrXqbhs7FvfnBDWDKWTigOpL2oWvZpYKPjio1zVHEt7BdOtaLUtHRX8MmqjRjooeCVttPBOWi+4JT1aLaDjVLpU/5ytn840Dj1IaWSpYmi8yVlTF54qh9K8nn27usJK5fC3yvfhPx7a/AE9dYwDEfKrlAAAAABJRU5ErkJggg==)
		no-repeat 0 50%;
	color: #ccc;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	transition: left 0.3s, transform 0.3s;
	padding-left: 20px;
}

.formSearch .inputSearch {
	border: 1px solid #fff;
	border-radius: 5px;
	display: block;
	padding: 10px 30px;
	width: 100%;
	font-family: 'Surround';
	src: url('/petmily/resources/font/surround.woff2') format('woff2');
	font-size: 20px;
}

.formSearch .inputSearch:focus+label, .formSearch .inputSearch:valid+label
	{
	left: 10px;
	transform: translate(0, -50%);
	color: transparent;
}

.formSearch .inputSearch:valid+label {
	text-indent: -9999px;
} /* searchbar */
@font-face {
	font-family: 'Surround';
	src: url('/petmily/resources/font/surround.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OhsquareAir';
	src: url('/petmily/resources/font/OhsquareAir.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

input[id="menuicon"] {
	display: none;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* 헤더 */
header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	background: white;
}

header>div {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

header>div ul.navi {
	font-size: 0;
}

header>div ul.navi>li {
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Surround';
}

header>div ul.navi>li>a {
	display: block;
	width: auto;
	padding: 20px;
	font-family: 'Surround';
	color: hsl(36deg 70.37% 68.61%);
}

header>div ul.navi>li>a:hover {
	display: block;
	width: auto;
	padding: 20px;
	font-family: 'Surround';
	color: hsl(30.46deg 58.9% 45.68%);
}

header>div ul.navi>li.logo>a {
	padding: 20px 50px;
	font-size: 35px;
	font-weight: 900;
	color: hsl(30.46deg 58.9% 45.68%);
}

.sidebarmenutitle {
	font-family: 'Surround';
	font-size: 20px;
	color: hsl(30.46deg 58.9% 45.68%);
}

.sidebarmenu {
	font-family: 'Surround';
	font-size: 20px;
	color: hsl(36deg 70.37% 68.61%);
}

.sidebarmenu:hover {
	font-family: 'Surround';
	font-size: 20px;
	color: hsl(30.46deg 58.9% 45.68%);
}
/* 각 영역의 라벨(중앙정렬) */
.area_desc {
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translate(-50%, -50%);
	font-size: 20px;
}

/* 메뉴버튼 */
.menubtn {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
}

.menubtn span {
	display: block;
	position: absolute;
	width: 80%;
	height: 5px;
	border-radius: 30px;
	background: hsl(30.46deg 58.9% 45.68%);
	transition: all .35s;
}

.menubtn span:nth-child(1) {
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
}

.menubtn span:nth-child(2) {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menubtn span:nth-child(3) {
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
}

/* 컨텐츠영역 */


.menu-container .sidebar {
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	height: 100%;
	background: white;
	border-left: 1px solid hsl(30.46deg 58.9% 45.68%);
	z-index: 30;
	transition: .35s;
}

/* 체크 변화값 */
input[id="menuicon"]:checked ~ header .menubtn {
	z-index: 2;
}

input[id="menuicon"]:checked ~ header .menubtn span:nth-child(1) {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(135deg);
}

input[id="menuicon"]:checked ~ header .menubtn span:nth-child(2) {
	left: 50%;
	transform: translate(-50%, -50%) scale(2);
	opacity: 0;
}

input[id="menuicon"]:checked ~ header .menubtn span:nth-child(3) {
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, 50%) rotate(-135deg);
}

input[id="menuicon"]:checked ~ .menu-container .sidebar {
	right: 0;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    text-align: center;
    left: 75%;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
    z-index: 1;
    border-radius:20px;
}
