@charset "UTF-8";

* {
	/* font-family: 'Surround';
	src: url('/petmily/resources/font/surround.woff2') format('woff2'); */
	box-sizing: border-box;
}

body {
	background: #efefef;
}

input[type=text] {
	width: 286px;
	height: 30px;
}

/* input[type=time] {
	height:30px;
	width:128px;
} */
input[type=submit] {
	margin-top: 15px;
	width: 206px;
	height: 30px;
}

input[type=tel] {
	width: 286px;
	height: 30px;
}

select[name=type] {
	width: 294px;
	height: 30px;
}

form table tr textarea {
	width: 286px;
}

form {
	margin-top: 50px;
}