@charset "UTF-8";

body {
  font-family: 'Lato', sans-serif;
  background: #efefef;
}

table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	line-height: 24px;
}

table td, th {
	/* border-top: 1px solid black; */
	border-bottom: 1px solid black;
	/* border-collapse: collapse; */
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

th {
	background: rgb(221, 221, 221);
	margin:0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

tr:hover {
	background-color:#dfdfdf;
}

#outer {
	width: 800px;
	margin: auto;
}

tr {
	height: 30px;
}

.content {
	width:310px;
}